<html>
    <title>CSE111 Final Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox2">
    <head>
        <h1>CSE111 Final Project</h1>
    </head>

<body>
    <header>
        <h1 class="title2">CarFAQs</h1>
        <h4>by Chester Merino and Tim Chan</h4>
    </header>


    <div class="buttonContainer">
        <button class="button-38" type="button" onclick="window.location.href='{{ url_for( 'cars') }}';">View All Cars</button>
        <button class="button-38" type="button" onclick="window.location.href='{{ url_for( 'sales') }}';">View Sales Records</button>
        <button class="button-38" type="button" onclick="window.location.href='{{ url_for( 'maint') }}';">View Maintenance Records</button>
    </div>


</body>
</div>

<script src="script.js"></script>

</html>