<html>
    <title>CSE111 Project</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <div class="headerbar">
            <div class="headerbar-Links">
                <p><a href={{ url_for('home') }}>Home</a> | 
                    <a href={{ url_for('cars') }}>Vehicles</a> | 
                    <a href={{ url_for('sales') }}>Sales Records</a> | 
                    <a href={{ url_for('maint') }}>Maintenance Records</a> | 
                    <a href={{ url_for('admin') }}>Admin</a>
                    </p>
                <div class="headerbar-Title">
                    <h1 class="title">CarFAQs</h1>
                </div>
            </div>
        </div>
    </head>

    <body>
        
        <div class = "outerbox">
        <h1 class="pagetitle">Maintenance Records</h1>
        <form action="/maintS" method="post">
            <div id="usrnm" class="txtf">
                <label class="label">VIN #</label>
                <input id="username" type="text" name="Svin" placeholder="Find Car">
            </div>
    
            <div>
                <input id="button" type="submit" value="SEARCH">
            </div>
        </form>
        <div class = "innerbox">
        <table class="allCarTable">
            <tr>
                <th>Work Order #</th>
                <th>Date</th>
                <th>Vehicle</th>
                <th>Parts Used (Qty)</th>
                <th>Equipment Used</th>
                <th>Mechanic</th>
                <th>Customer</th>
                <th>Completed?</th>
            </tr>
            {% for cars in maint %}
                <tr>
                    <td>{{ cars.sv_workOrderNo}}</td>
                    <td>{{ cars.sv_date }}</td>
                    <td><a href="cars/{{ cars.v_VIN }}">{{ cars.v_year }} {{ cars.v_make }} {{ cars.v_model }}</a></td>
                    <td>{{ cars.p_partName }} (x{{ cars.sv_partQty }})</td>
                    <td>{{ cars.e_name }}</td>
                    <td>{{ cars.m_name }}</td>
                    <td>{{ cars.c_name }}</td>
                    <td>{{ cars.sv_completed }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    </div>
    </body>
</html>
