<html>
    <title>CSE111 Project</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <div class="headerbar">
            <div class="headerbar-Links">
                <p><a href={{ url_for('home') }}>Home</a> | 
                    <a href={{ url_for('cars') }}>Vehicles</a> | 
                    <a href={{ url_for('sales') }}>Sales Records</a> | 
                    <a href={{ url_for('maint') }}>Maintenance Records</a> | 
                    <a href={{ url_for('admin') }}>Admin</a>
                    </p>
                <div class="headerbar-Title">
                    <h1 class="title">CarFAQs</h1>
                </div>
            </div>
        </div>
    <form action="/sales1" method="post">
            <label class="label">Invoice No</label>
            <input id="username" type="text" name="v1" placeholder="Search Invoice Number">
            <input id="button" type="submit" value="SEARCH">
    </form>

    <form action="/sales2" method="post">
            <label class="label">Date</label>
            <input id="username" type="text" name="v2" placeholder="Search Date">
            <input id="button" type="submit" value="SEARCH">
    </form>

        <form action="/sales" method="post">
            <label class="label">Vin #</label>
            <input id="username" type="text" name="vinS" placeholder="Search Vin #">
            <input id="button" type="submit" value="SEARCH">
    </form>


        <form action="/sales3" method="post">
            <label class="label">Salesrep</label>
            <input id="username" type="text" name="v3" placeholder="Search Salesperson">
            <input id="button" type="submit" value="SEARCH">
    </form>

        <form action="/sales4" method="post">
            <label class="label">Customer</label>
            <input id="username" type="text" name="v4" placeholder="Search Customer">
            <input id="button" type="submit" value="SEARCH">
    </form>

        <form action="/sales5" method="post">
            <label class="label">MSRP Sale</label>
            <input id="username" type="text" name="v5" placeholder="Search MSRP">
            <input id="button" type="submit" value="SEARCH">
    </form>


    </head>

    <body>
        <div class = "outerbox">
        <h1 class="pagetitle">Sales Records</h1>
        <form action="/sales" method="post">
            <div id="usrnm" class="txtf">
                <label class="label">VIN #</label>
                <input id="username" type="text" name="vinS" placeholder="Find Car">
            </div>
    
            <div>
                <input id="button" type="submit" value="SEARCH">
            </div>
        </form>
        <div class = "innerbox">
        <table>
            <tr>
                <th>Invoice No</th>
                <th>Date</th>
                <th>Vehicle</th>
                <th>Salesperson<br>Customer</th>
                <th>MSRP<br>Sale</th>
                
            </tr>
            {% for eachSale in sales %}
                <tr>
                    <td>{{ eachSale.s_invoiceNo }}</td>
                    <td>{{ eachSale.s_date }}</td>
                    <td class="bold">{{ eachSale.v_year }} {{ eachSale.v_make }} {{ eachSale.v_model}}</td>
                    <td>{{ eachSale.sp_name }}<br>{{ eachSale.c_name}}</td>
                    <td>$ {{ eachSale.s_MSRP}}.00<br>$ {{ eachSale.s_totalCost}}</td>
                    
                </tr>
                {% endfor %}
        </table>
        </div>
    </body>
    <link href = "{{ url_for('static', filename='css/login.css') }}" rel = " stylesheet">
</html>