<html>
    <title>CSE111 Project</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <div class="headerbar">
            <div class="headerbar-Links">
                <p><a href={{ url_for('home') }}>Home</a> | 
                    <a href={{ url_for('cars') }}>Vehicles</a> | 
                    <a href={{ url_for('sales') }}>Sales Records</a> | 
                    <a href={{ url_for('maint') }}>Maintenance Records</a> | 
                    <a href={{ url_for('admin') }}>Admin</a>
                    </p>
                <div class="headerbar-Title">
                    <h1 class="title">CarFAQs</h1>
                </div>
            </div>
        </div>
    


    </head>

    <body>
        <div class = "outerbox">
        <h1 class="pagetitle">Sales Records</h1>
        <form action="/sales" method="post">
            <div id="usrnm" class="txtf">
                <input id="username2" type="text" name="vinS" placeholder="Find Car">
                <input id="button2" type="submit" value="SEARCH">
            </div>
        </form>
        <div class = "innerbox">
        <table>
            <tr>
                <th>Invoice No<form action="/sales1" method="post">
                                <input id="username" type="text" name="v1" placeholder="Search Invoice Number">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>Date<form action="/sales2" method="post">
                                <input id="username" type="text" name="v2" placeholder="Search Date">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>Vehicle<form action="/sales" method="post">
                                <input id="username" type="text" name="vinS" placeholder="Search Vin #">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>Salesperson<form action="/sales3" method="post">
                                <input id="username" type="text" name="v3" placeholder="Search Salesperson">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>Customer<form action="/sales4" method="post">
                                <input id="username" type="text" name="v4" placeholder="Search Customer">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>MSRP<form action="/sales5" method="post">
                                <input id="username" type="text" name="v5" placeholder="Search MSRP">
                                <input id="button" type="submit" value="&#128269;">
                                </form></th>
                <th>Sale Price</th>
            </tr>
            {% for eachSale in sales %}
                <tr>
                    <td>{{ eachSale.s_invoiceNo }}</td>
                    <td>{{ eachSale.s_date }}</td>
                    <td class="bold"><a href="cars/{{ eachSale.s_VIN }}/0">{{ eachSale.v_year }} {{ eachSale.v_make }} {{ eachSale.v_model}}</a></td>
                    <td>{{ eachSale.sp_name }}</td>
                    <td>{{ eachSale.c_name}}</td>
                    <td>$ {{ eachSale.s_MSRP}}.00</td>
                    <td class="bold">$ {{ eachSale.s_totalCost}}</td>
                </tr>
                {% endfor %}
        </table>
        </div>
    </body>
    <link href = "{{ url_for('static', filename='css/login.css') }}" rel = " stylesheet">
</html>