<html>
    <title>CSE111 Project</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        
        <div class="headerbar">
            <div class="headerbar-Links">
                <p><a href={{ url_for('home') }}>Home</a> <a href={{ url_for('sales') }}>Sales</a> <a href={{ url_for('maint') }}>Maint</a></p>
                <div class="headerbar-Title">
                    <h1>CarFAQs</h1>
                </div>
            </div>
        </div>

    </head>

    <body>
        <div class="carbox">
            <h2><i id='car' class='fas fa-car' style='border: 2px black;font-size:300px;color:{{thisCar.v_color}}'></i></h2>
            <h1>{{thisCar.v_year}} {{thisCar.v_make}} {{thisCar.v_model}}</h1>
            <p style="font-style:italic;font-size:small;">{{thisCar.v_VIN}}</p>
            <p style="font-style:bold;font-size:xxlarge;">${{thisCar.v_MSRP}}</p>
            <a href={{ url_for('cars') }}>Return to Vehicle List</a>

            
            
            <div class="float-container">
                <div class="salesbox">
                    <h3>Create Invoice</h3>
                    <form method="GET" action="/sale/{{thisCar.v_VIN}}">
                        <select name="sper"
                            {% for person in sper %}
                            <option value="{{person.sp_name}}" SELECTED>{{person.sp_name}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="custName" value="Customer Name">
                        <input type="text" name="custNo" value="Customer Phone">
                        <input type="submit" value="Create Invoice">
                    </form>
                </div>

                <div class="repairbox">
                    <h3>Create Service</h3>
                </div>
            </div>
        </div>

    </div>
    </body>
</html>