<html>
    <title>Lab 8</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script type="text/javascript" src="static/js/learn.js"></script>
    <div class = "transbox">
    <head>
        <h1>CarFAQs</h1>
    </head>

    <form action="/car" method="post">
        <div id="usrnm" class="txtf">
            <label class="label">VIN #</label>
            <input id="username" type="text" name="vin" placeholder="Find Car">
        </div>

        <div>
            <input id="button" type="submit" value="SEARCH">
        </div>
    </form>
    <body>
        <div class = "outerbox" >
        <h1>Inventory</h1>
        <div class = "innerbox">
        <table class="allCarTable">
            <tr>
                <th>Color</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Trim Level</th>
                <th>MSRP</th>
                <th>VIN</th>
            </tr>
            {% for cars in allCars %}
                <tr>
                    <td><p class="vColor" style="background-color:{{ cars.v_color }}"></td>
                    <td>{{ cars.v_year }}</td>
                    <td>{{ cars.v_make }}</td>
                    <td>{{ cars.v_model }}</td>
                    <td>{{ cars.v_trim }}</td>
                    <td>{{ cars.v_MSRP }}</td>
                    <td><a href="cars/{{ cars.v_VIN }}">{{ cars.v_VIN }}</a></td>
                </tr>
                {% endfor %}
        </table>
    </div>
    </div>
    </body>
</html>
