<html>
    <title>CSE111 Project</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <div class = "transbox">
    <head>
        <div class="headerbar">
            <div class="headerbar-Links">
                <p><a href={{ url_for('home') }}>Home</a> | 
                    <a href={{ url_for('cars') }}>Vehicles</a> | 
                    <a href={{ url_for('sales') }}>Sales Records</a> | 
                    <a href={{ url_for('maint') }}>Maintenance Records</a> | 
                    <a href={{ url_for('admin') }}>Admin</a>
                    </p>
                <div class="headerbar-Title">
                    <h1 class="title">CarFAQs</h1>
                </div>
            </div>
        </div>
    </head>

    <body>
        <div class = "outerbox">
        <h1 class="pagetitle">Inventory</h1>
        <form action="/car" method="post">
            <div id="usrnm" class="txtf">
                <label class="label">VIN #</label>
                <input id="username" type="text" name="vin" placeholder="Find Car">
            </div>
    
            <div>
                <input id="button" type="submit" value="SEARCH">
            </div>
        </form>
        <div class = "innerbox">
        <table class="allCarTable">
            <tr>
                <th>Color</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Trim Level</th>
                <th>MSRP</th>
                <th>VIN</th>
            </tr>
            {% for cars in allCars %}
                <tr>
                    <td><p class="vColor" style="background-color:{{ cars.v_color }}"></td>
                    <td>{{ cars.v_year }}</td>
                    <td>{{ cars.v_make }}</td>
                    <td>{{ cars.v_model }}</td>
                    <td>{{ cars.v_trim }}</td>
                    <td>{{ cars.v_MSRP }}</td>
                    <td><a href="cars/{{ cars.v_VIN }}/0">{{ cars.v_VIN }}</a></td>
                </tr>
                {% endfor %}
        </table>
    </div>
    </div>
    </body>
</html>
